<!DOCTYPE html>
<html>
<head>
  <title>Troywill</title>
  <link href="/assets/application.css?body=1" media="all" rel="stylesheet" type="text/css" />
  <link href="/assets/welcome.css?body=1" media="all" rel="stylesheet" type="text/css" />
  <script src="/assets/jquery.js?body=1" type="text/javascript"></script>
  <script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
  <script src="/assets/welcome.js?body=1" type="text/javascript"></script>
  <script src="/assets/application.js?body=1" type="text/javascript"></script>
  <meta content="authenticity_token" name="csrf-param" />
  <meta content="M5uGn/+vvxnJk18E+ps+PyBS2WjT8rAOigwgKvWxbMc=" name="csrf-token" />
</head>
<body>

<h1>My Interests</h1>
<ul>
  <li>Education</li>
</ul>


</body>
</html>
